@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.widget-ui.dark *));

@theme {
  --radius-md2: 0.75rem;
  --text-md: 1rem; /* 16px */
  --text-base-lg: 1.125rem; /* 18px */
  --text-2.5xl: 1.75rem; /* 28px */
  --text-2.5xl--line-height: 2.375rem; /* 38px */
  --text-3.5xl: 2rem; /* 32px */
  --font-family: "Inter", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

.widget-ui {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.9619 0 0);

  --primary: oklch(0.5898 0.1196 291.49);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.9312 0 0);
  --secondary-foreground: oklch(0 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.6993 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0 0 0);

  --destructive: oklch(0.7223 0.1741 16.45);

  --border: oklch(0.4949 0.111284 297.5609);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --font-family: "sans-serif";

  --radius: 0.625rem;
}

.widget-ui.dark {
  --background: oklch(0.3208 0.1612 289.69);
  --foreground: oklch(1 0 0);

  --card: oklch(0.3208 0.1612 289.69);
  --card-foreground: oklch(0.3669 0.1419 293.47);

  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0 0 0);

  --secondary: oklch(0.2425 0.1155 291.01);
  --secondary-foreground: oklch(0.8767 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.6993 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.8767 0 0);

  --destructive: oklch(0.7223 0.1741 16.45);

  --border: oklch(0.4949 0.111284 297.5609);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family);
  }
}

a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 calc(2px) hsl(var(--ring));
}

@utility no-scrollbar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  --scrollbar-color: #4c4c4ccc;
  scrollbar-width: 0.5em;
  scrollbar-color: var(--scrollbar-color) transparent;
}

*::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border: 1px solid var(--scrollbar-color);
  border-radius: 1rem;
}

@utility button {
  cursor: pointer;
}

@utility a {
  @apply cursor-pointer;
}

@utility no-appearance-search {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
